/*font-family: 'Nunito Sans', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Expletus Sans', cursive;
font-family: 'Overlock', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Marcellus+SC', serif;
font-family: 'Righteous', cursive;
font-family: 'Forum', cursive;



Colors:
Dark purple:  #060026;
Light grey, used for text on nav: #c9c9c9;
shade of white, used for background: #F6F5F6;

*/

body{
  margin: auto 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F6F5F6;
}

#side_bar{
  position: fixed;
  width: 0vw;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #060026;
  overflow-x: hidden;
  transition: 500ms linear;
}

#side_bar ul{
  -webkit-padding-start: 20px;
  margin: 60px 0 0;
  font-size: 2em;
  font-weight: 300;
}

#side_bar ul li {
  padding: 2% 0 10% 2%;
  list-style-type: none;
  color: #c9c9c9;
}

#side_bar a{
  color: #c9c9c9;
  text-decoration: none;
}

#side_bar a:hover {
  color: white;
}

#side_bar span{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 3em;
  color: #c9c9c9;
  margin-left: 50%;
}

#side_bar .close_button{
  color: #c9c9c9;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5em;
  margin-left: 50px;
}

section {
  transition: margin-left 500ms;
  padding: 16px;
}

#div_one{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#hamburger span {
  display: block;
  width: 36px;
  height: 4px;
  margin: 8px 0;
  background: #060026;
  z-index: 10;
  border-radius: 20px;
}

h1{
  font-family: Marcellus;
  font-size: 3em;
  color: #060026;
  margin: 5% 0;
}

h1 .fa{
  color: #060026;
}

h1 .fa:hover{
  color: #c9c9c9;
  /*color: #7E8AA6;*/
}

.image_holder{
  background-image: url('images/IMG_0999_1.jpg');
  min-height: 400px;
  position:relative;
  background-attachment: fixed;
  background-position-x: 0px;
  background-position-y: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -16px;
}

.caption {
  max-width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
}

.caption span{
  text-align: center;
  color: #060026;
  font-size: 4em;
}
