/*
font-family: 'Josefin Sans', sans-serif;

Colors:

Purples used:
  Dark purple on nav side: #060026;
  Lavendar used on a link hover: #504494;

Variations on grey/white used:
  For text on nav side_bar: #c9c9c9;
  For connect_icons on photo: #e6e6e7;
  For background on body tag: #F6F5F6;
  For background on top fixed header: #FEFDFE;

*/

/* Center the loader */

#loader {
  position: fixed;
  left: 57%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 10px solid #c8c6d2;
  border-radius: 50%;
  border-top: 10px solid #060026;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#contents {
  transition: 5s opacity;
}

.not_visible{
  visibility: hidden;
  opacity: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fadeOut {
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}
/*
.fadein {
  opacity: 1;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}*/

body{
  margin: auto 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #F6F5F6;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #060026;
}

a:hover {
  color: #a19fae;
  font-weight: 400;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0.3em 0;
  font-size: 1.2em;
}

#resume{
  height: 100vh;
}

#side_bar{
  background-color: #060026;
  position: fixed;
  z-index: 50;
  overflow-x: hidden;
  transition: all 500ms;
  width: 100%;
  top: 98px;
  display: flex;
  flex-direction: row;
}

#side_bar ul {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  align-items: center;
  width: 100%;
  -webkit-padding-end: 8px;
  -webkit-padding-start: 8px;
  margin: 10px 0;
}

li, dt, dd {
  color: #c9c9c9;
  font-size: 1.1em;
  font-weight: 300;
}


dl{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

dt {
  padding-bottom: 0;
}

dd {
  margin: 0 0 0 20px;
  -webkit-margin-start: 20px;
  padding: 3% 0;
  font-size: 1em;
}

#side_bar a{
  color: #c9c9c9;
}

#side_bar a:hover {
  color: white;
}

#side_bar .close_button {
  color: #c9c9c9;
  position: absolute;
  top: 50px;
  right: 15px;
  font-size: 1.5em;
  margin-left: 50px;
}

.logo{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*flex: 2;*/
}

#logo {
  width: auto;
  height: 12vh;
  padding: 10px;
  max-width: 80px;
  max-height: 80px;
}

/*#logo_dk{
  width: 40px;
  /*visibility: hidden;
}*/

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 25;
  width: 100%;
  margin: auto;
  background: #FEFDFE;
  padding: 1%;
  box-shadow: 0 0px 3px rgba( 0,0,0,0.45);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#hamburger{
  padding-left: 2%;
}

#hamburger span {
  display: block;
  width: 36px;
  height: 4px;
  margin: 8px 0;
  background: #060026;
  z-index: 25;
  border-radius: 20px;
}


.title_div_right {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 2% 4%;
  flex-grow: 2;
}

h1{
  font-weight: 400;
  /*font-size: 4em;*/
  color: #060026;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-align: right;
}

h2{
  display: inline;
  font-weight: 300;
  font-size: 1.7em;
  color: #060026;
  margin: 5% 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-align: right;
}

.title_div_right a {
  font-size: 1em;
  font-weight: 300;
  cursor: auto;
}

section {
  transition: margin-left 500ms;
  transition-delay: margin-left 100ms
}

.height_filler{
  height: 150px;
}

.topic{
  position: relative;
  margin: 0 1em;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 600px;
}

.anchor{
  display: block;
  height: 150px; /*same height as header*/
  margin-top: -150px; /*same height as header*/
  visibility: hidden;
}

.centered_p{
  font-weight: 400;
  text-align: center;
  font-size: 2em;
}

.image_holder{
  background-image: url('images/IMG_0999_1.jpg');
  min-height: 140px;
  position:relative;
  background-attachment: fixed;
  background-position-x: 0px;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;
}

.image_holder_mob{
  background-image: url('images/IMG_0999_100_dpi.jpg');
  min-height: 160px;
  position:relative;
  background-position-x: 0px;
  background-position-y: -35px;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
  margin-bottom: 35px;
}

#image_holder .connect_icons_outer {
  /*margin-top: 50px;*/
}

#image_holder a {
  color: #e6e6e7;
  text-shadow: 2px 2px 8px #101013;
}

#image_holder a:hover {
  color: white;
}

.bold_header{
  font-weight: 400;
}

.skills_list{
  margin: 1.5% 0 5% 0;
}

.skills_list p{
  margin-bottom: 5%;
  text-align: left;
}

#skills_img{
  width: 100%;
  height: auto;
  max-width: 600px;
}

#caption {
  font-style: italic;
  margin: 0.3em 0 1.5em 0;
  font-size: 1.2em;
}

.connect_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#connect_message{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#connect_message p{
  margin: 0 0.5em 0 0;
  text-align: left;
}

#self_img_holder{
  flex-shrink: 0.8;
}

#self{
  width: 100%;
  height: auto;
}

#col1{
  width: 30px;
}

table{
  margin: 16px 0 0 0;
}

td{
  font-weight: 300;
  font-size: 1.2em;
}

td {
  text-align: left;
}

footer{
  transition: margin-left 500ms;
  transition-delay: margin-left 100ms;
}

.footer_mobile{
  position: fixed;
  bottom: 0px;
  padding-bottom: 5px;
  background-color: #F6F5F6;
  left: 50%;
  transform: translate(-50%, 0);
}

.connect_icons_outer {
  display: flex;
  justify-content: center;
}

#footer_icons{
  padding: 10px 200px 0;
}

.connect_icons{
  padding: 1%;
  font-size: 2em;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}

#footer_icons .connect_icons{
  padding-top: 0px;
}

/*    Replace Mobile Styles with the Desktop settings below      */
@media (min-width: 500px) {
  .anchor{
    height: 98px;
    margin-top: -98px;
  }

  #loader {
    left: 50%;
  }

  #hamburger{
    padding-left: 0;
  }

  #side_bar{
    width: 0vw;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  #side_bar ul{
    flex-direction: column;
    align-items: start;
    -webkit-padding-start: 20px;
    padding-left: 20px;
    margin: 60px 0 0;
  }

  li, dt, dd {
    padding: 16px 0;
    font-size: 1.5em;
  }

  #side_bar .close_button{
    top: 10px;
  }

  .title_div_right{
    padding: 0 2%;
  }

  .height_filler{
    height: 98px;
  }

  .centered_p{
    font-size: 2em;
    margin-top: 1em;
  }

  #caption {
    max-width: 600px;
    margin-bottom: 100px;
  }

  .p_600_max a{
    color: #504494;
    font-weight: 400;
  }

  .p_600_max a:hover{
    color: #a19fae;
    font-weight: 400;
  }

  .connect_wrapper {
    flex-direction: column;
    max-width: 600px;
    /*justify-content: space-between;*/
  }

  #connect_message{
    flex-direction: row;
  }

  #connect_message p{
    /*max-width: 430px;*/
  }

  #self_img_holder{
    flex-shrink: 1;
  }

  #self {
    width: 25%;
  }

  table {
    margin: 16px 20%;
  }

  #footer_icons {
    padding: 0px;
  }

  .connect_icons {
    padding-top: 60px;
  }

  .p_600_max p {
    width: 600px;
  }
}

@media (min-height: 680px){
  .topic{
    min-height: 100vh;
  }

  .show_icons_below_first{
    min-height: 68vh;
  }

  .show_icons_below_last{
    min-height: 80vh;
  }

  .connect_icons_outer{
    margin-top: 0;
  }

  .connect_icons {
    padding-top: 8.5vh;
  }

  .image_holder{
    min-height: 20vh;
    background-position-y: 10vh;
  }
}

@media (min-height: 1200px){
  .show_icons_below_first{
    min-height: 78vh;
  }

  .show_icons_below_last{
    min-height: 88vh;
  }

  .image_holder{
    min-height: 14vh;
  }

  .connect_icons {
    padding-top: 6vh;
  }

}
