/*
font-family: 'Cedarville Cursive', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Marcellus+SC', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Spinnaker', sans-serif;

Colors:
Dark purple:  #060026;
Light grey, used for text on nav: #c9c9c9;
shade of white, used for background: #F6F5F6;

*/

body{
  margin: auto 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #F6F5F6;
}

#resume{
  height: 100vh;
}

#side_bar{
  position: fixed;
  width: 0vw;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: #060026;
  overflow-x: hidden;
  transition: all 500ms;
  display: flex;
  flex-direction: column;
}

#side_bar ul{
  -webkit-padding-start: 20px;
  margin: 60px 0 0;
}

li, dt, dd {
  padding: 8% 0;
  list-style-type: none;
  color: #c9c9c9;
  font-size: 1.5em;
  font-weight: 300;
}


dl{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

dt {
  padding-bottom: 0;
}

dd {
  -webkit-margin-start: 20px;
  padding: 3% 0;
  font-size: 1em;
}

#side_bar a{
  color: #c9c9c9;
  text-decoration: none;
}

#side_bar a:hover {
  color: white;
}

#side_bar span{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 3em;
  color: #c9c9c9;
  margin-left: 50%;
}

#side_bar .close_button{
  color: #c9c9c9;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5em;
  margin-left: 50px;
}

.logo{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 2;
}

#logo {
  width: 10vw;
  height: auto;
  padding: 10%;
  max-width: 80px;
  max-height: 80px;
}

section {
  transition: margin-left 500ms;
  transition-delay: margin-left 100ms
}


#home{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 25;
  background: #FEFDFE;
  left: 0;
  padding: 1%;
  box-shadow: 0 0px 3px rgba( 0,0,0,0.45);
}

#hamburger span {
  display: block;
  width: 36px;
  height: 4px;
  margin: 8px 0;
  background: #060026;
  z-index: 10;
  border-radius: 20px;
}


.title_div_right {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0 2%;
  flex-grow: 2;
}

h1{
  font-family: josefin sans;
  font-weight: 400;
  /*font-size: 4em;*/
  color: #060026;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-align: right;
}

h2{
  display: inline;
  font-family: josefin sans;
  font-weight: 300;
  font-size: 1.7em;
  color: #060026;
  margin: 5% 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-align: right;
}

.title_div_right a {
  font-weight: 300;
  cursor: auto;
  text-decoration: none;
  color: #060026;
}

.height_filler{
  height: 190px;
}

.image_holder{
  background-image: url('images/IMG_0999_1.jpg');
  min-height: 200px;
  position:relative;
  background-attachment: fixed;
  background-position-x: 0px;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin: 0 -16px;*/
}

.image_holder .connect_icons_outer {
  margin-top: 50px;
}

.image_holder i {
  color: #F6F5F6;
}

#fixed_message{
  position: fixed;
  text-align: center;
  color: #060026;
  font-size: 2em;
  top: 150px;
  /*width: 550px;*/
  left: 50%;
  transform: translate(-50%, 0%);
  transition: margin-left 500ms;
  transition-delay: margin-left 100ms
}

#about{
  height: 400px;
}

#div_four{
  height: 600px;
  /*background-color: #969AA1;*/
}

footer{
  transition: margin-left 500ms;
  transition-delay: margin-left 100ms
}

.connect_icons_outer {
  display: flex;
  justify-content: center;
}

.connect_icons{
  padding: 1%;
  font-size: 2em;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

footer i{
  color: #060026;
}

@media (min-width: 700px) {
  #fixed_message{
    width: 550px;
    font-size: 3em;
  }
}
